<div class="event-list caption">
    <div class="job caption">Job</div>
    <div class="job-type caption">Type</div>
    <div class="worker caption">Worker</div>
    <div class="date caption">Date</div>
    <div class="status caption">Status</div>
</div>
 <ul class="list">
    {% for event in events %}
    <li class="event-list">
        <div class="job">{{event.job}}</div>
        <div class="job-type">{{event.job_type}}</div>
        <div class="worker">{{event.worker_name}}</div>
        <div class="date">{{event.log_time}}</div>
        <div class="status">{{event.status}}</div>
    </li>
    {% endfor %}
</ul>