<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Cloud Project</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='js/functions.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>MovieLens</h1>
  <br/>
  <h2>Movies by ID</h2>
  <div id="errors-params">
    <div>
      Film ID:
      <input id="movieid" type="text" onchange="changeMoviesById()"/>
    </div>
    <br/>
  </div>
  <br/>
  <div id ="movies-id"></div>
  <br/>
  <br/>
  <h2>Events</h2>
  <div id="events-params">
    <div>
      Events maximum number:
      <select id = "select-number-events" onchange="changeEvents()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <br/>
    <div>
      Select jobs:
      <select id="select-job-events" onchange="changeEvents()">
        <option value="All jobs">All jobs</option>
        {% for job_name in jobs_names %}
          <option value="{{job_name}}">{{job_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br/>
  <div id ="events"></div>
  <br/>
  <br/>
  <h2>Execution time average</h2>
  <div id="graph-params">
    <div>
      Frequency:
      <input type="radio" id="radio-weekly" name="frequence" value="weekly" onclick="changeGraph()" checked>
      <label for="radio-weekly">Weekly</label>
      <input type="radio" id="radio-monthly" name="frequence" value="monthly" onclick="changeGraph()">
      <label for="radio-monthly">Monthly</label>
    </div>
    <div>
      Select workers:
      <select id = "select-worker-graph" onchange="changeGraph()">
        <option value="All workers">All workers</option>
        {% for worker_name in workers_names %}
          <option value="{{worker_name}}">{{worker_name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div id="chart"></div>
</body>
</html>