<div class="movie-list caption">
    <div class="movieid caption">ID du film</div>
    <div class="year caption">Année de production</div>
    <div class="english caption">Anglais</div>
    <div class="country caption">Pays</div>
    <div class="running-time caption">Durée</div>
    <div class="genre caption">Genre</div>
</div>
 <ul class="list">
    {% for movie in movies %}
    <li class="movie-list">
        <div class="movieid">{{movie.movieid}}</div>
        <div class="year">{{movie.year}}</div>
        <div class="english">{{movie.is_english}}</div>
        <div class="country">{{movie.country}}</div>
        <div class="running-time">{{movie.running_time}}</div>
        <div class="genre">{{movie.genre}}</div>
    </li>
    {% endfor %}
</ul>