<div class="error-list caption">
    <div class="worker caption">ID</div>
    <div class="job caption">Year</div>
    <div class="job-type caption">English</div>
    <div class="date caption">Country</div>
    <div class="error-message caption">Running Time</div>
</div>
 <ul class="list">
    {% for movie in movies %}
    <li class="error-list">
        <div class="worker">{{movie.movieid}}</div>
        <div class="job">{{movie.year}}</div>
        <div class="job-type">{{movie.is_english}}</div>
        <div class="date">{{movie.country}}</div>
        <div class="error-message">{{movie.running_time}}</div>
    </li>
    {% endfor %}
</ul>