<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Cloud Project</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='js/functions.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <h1>MovieLens</h1>
  <br/>
  <h2>Films par ID</h2>
  <div id="s1-params">
    <div>
      ID du film :
      <input id="input-movieid" type="text" oninput="changeMoviesById()"/>
    </div>
    <br/>
  </div>
  <br/>
  <div id ="s1"></div>
  <br/>
  <h2>Films par année</h2>
  <div id="s2-params">
    <div>
        Année :
        <input id="input-year" type="number" onchange="changeYear()"/>
    </div>
  </div>
  <br/>
  <div id ="s2"></div>
</body>
</html>